body, p, ul, h1, h2, h3, h4, h5, h6, button {
  margin: 0 auto;
  padding: 0;
  display: block;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  display: block;
}

a {
  display: block;
}

p {
  display: block;
}

::-webkit-input-placeholder {
  color: #c0392b;
  margin-left: 10px;
}

::-moz-placeholder {
  color: #c0392b;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #c0392b;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #c0392b;
}

.container {
  padding: 0 10px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

p {
  color: #757575;
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
  font-family: 'Roboto';
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
  font-family: 'Raleway';
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
  font-family: 'Oleo Script';
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.portfolio-main {
  padding: 66px 0;
}

@media screen and (min-whidth: 1200px) {
  .portfolio-main {
    padding: 94px 0;
  }
}

.choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 60px;
}

.choice__button {
  border: none;
  margin-right: 8px;
  padding: 6px 22px;
  color: #212121;
  font-size: 16px;
  background: #F5F4FA;
  border-radius: 5px;
  font-family: 'Roboto-Regular',Arial,sans-serif;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.choice__button:focus, .choice__button:hover, .choice__button:active {
  color: white;
  background: #2196F3;
  box-shadow: 0 0 4px lightgrey;
  outline: none;
}

.card {
  display: block;
}

@media screen and (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

.card__item {
  border: 1px solid #EEEEEE;
  margin-bottom: 30px;
}

.card__link {
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover, .card__link:active, .card__link:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.box__img {
  width: 100%;
}

.card-box {
  padding: 20px 24px;
}

.card-box__name {
  padding-bottom: 4px;
  font-family: 'Roboto-Regular',Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #212121;
}

.box {
  position: relative;
  overflow: hidden;
}

.card-box__text {
  font-family: 'Roboto-Regular',Arial,sans-serif;
  font-size: 16px;
  color: #757575;
  line-height: 30px;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
}

.card__link:hover .overlay {
  transform: translateY(0);
}

.card__link:focus .overlay {
  transform: translateY(0);
}

.overlay__text {
  padding: 77px 23px;
  font-family: Roboto-Regular, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: white;
}

@media screen and (max-width: 402px) {
  .overlay__text {
    padding: 16px 14px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .overlay__text {
    padding: 49px 24px;
  }
}

/*===================overlay--end======================*/
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.web {
  font-family: 'Raleway',Arial,sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #2196F3;
  letter-spacing: 0.03em;
}

.studio {
  font-family: 'Raleway',Arial,sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #212121;
}

header {
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ECECEC;
}

.header_nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1200) {
  .header_nav {
    display: flex;
    gap: 90px;
  }
}

.header {
  padding: 20px 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    padding: 15px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  .header-list {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header-list {
    display: none;
  }
}

@media screen and (min-width: 768) {
  .header__button .icon-menu .icon-cross {
    display: none;
  }
}

.header__button {
  margin-left: auto;
  background-color: #fff;
  position: relative;
  left: -22px;
  top: -17px;
}

@media screen and (min-width: 768px) {
  .header__button {
    visibility: hidden;
  }
}

.header__button .icon-cross {
  display: none;
}

.header__button.is-open .icon-cross {
  display: block;
}

.header__button.is-open .icon-menu {
  display: none;
}

.studio_link:visited {
  color: #2196f3;
}

.studio_link:after {
  position: absolute;
  top: 250%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 100%;
  height: 4px;
  content: '';
  border-radius: 2px;
  background-color: #2196f3;
  transition: width 0.3s ease-out;
}

.portfolio_link:visited {
  color: #2196F3;
}

.portfolio_link:after {
  position: absolute;
  top: 250%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 100%;
  height: 4px;
  content: '';
  border-radius: 2px;
  background-color: #2196F3;
  transition: width 0.3s ease-out;
}

.header-list__link {
  position: relative;
  text-decoration: none;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover {
  color: #2196f3;
  width: 100%;
}

.header-list__link:focus {
  color: #2196f3;
  width: 100%;
}

.mob-menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-menu__tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media screen and (max-width: 768px) {
  .header-contacts {
    display: none;
  }
}

.header-contacts {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    align-items: baseline;
    justify-content: start;
    margin-right: 0;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.header-contacts__link {
  text-decoration: none;
  color: #757575;
  font-size: 12px;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 500;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
  }
}

.header-contacts__svg {
  margin-right: 10px;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:focus {
  color: #2196F3;
}

.header-contacts__link:hover {
  color: #2196F3;
}

.header-contacts__svg:focus .header-contacts__link {
  fill: #2196F3;
}

.header-contacts__svg:focus .header-contacts__link {
  fill: #2196F3;
}

.header-contacts__link:hover .header-contacts__svg {
  fill: #2196F3;
}

.header-contacts__link:focus .header-contacts__svg {
  fill: #2196F3;
}

.header-contacts__svg {
  position: relative;
  top: 1px;
}

.hero-img {
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img//bg_desct_x1.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-img {
    background-image: url("../img//bg_desct_x2.jpg");
  }
}

.hero__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 32px;
  background: #2196f3;
  color: white;
  border-radius: 3px;
  border: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  background: #054C81FF;
}

.hero__button:focus {
  background: #054C81FF;
}

.hero__button:active {
  background: #054C81FF;
}

.section-icon__title {
  visibility: hidden;
  text-transform: uppercase;
  text-align: center;
}

.wrapper__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.section-icon__svg {
  display: flex;
  justify-content: center;
}

.wrapper__name {
  margin: 30px 0 10px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  display: block;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .wrapper__name {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .wrapper__name {
    display: block;
    text-align: start;
  }
}

.wrapper__text {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 480px) {
  .wrapper__text {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .wrapper__text {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .wrapper__text {
    display: block;
    text-align: start;
  }
}

@media screen and (min-width: 480px) {
  .wrapper {
    display: block;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    display: flex;
    gap: 15px;
  }
}

.wrapper__item {
  padding: 15px;
}

@media screen and (max-width: 1200px) {
  .section-activity {
    display: none;
  }
}

.section-name {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.activity {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .activity {
    display: flex;
    justify-content: space-between;
  }
}

.activity__box {
  position: relative;
}

.activity__inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
}

.activity__text {
  display: flex;
  justify-content: center;
  padding: 27px 0;
  font-family: Roboto-Regular, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background: #F5F4FA;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-direction: row;
  }
}

.team__list__item {
  margin: 15px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  background: white;
}

.team__img {
  width: 100%;
  object-fit: contain;
}

.team__name {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}

.team__text {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 10px 0 30px;
}

.team-networks {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-networks__item:not(:last-child) {
  margin-right: 10px;
}

.team-networks__item {
  display: flex;
  background: none;
  background: #ffffff;
  position: relative;
}

.team-networks__link {
  display: block;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks__link:hover {
  background: #2196f3;
}

.team-networks__link:focus {
  background: #2196f3;
  outline: none;
}

.team-networks__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #AFB1B8;
  transform: translate(-50%, -50%);
}

.team-networks__link:hover .team-networks__svg {
  fill: white;
}

.team-networks__link:focus .team-networks__svg {
  fill: white;
}

.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .clients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.clients__list__item {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 480px) {
  .clients__list__item {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .clients__list__item {
    display: flex;
  }
}

.clients__link {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  height: 92px;
  width: 210px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover {
  border-color: #2196f3;
}

.clients__link:focus {
  border-color: #2196f3;
  outline: none;
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__svg {
  position: absolute;
  fill: #AFB1B8;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__svg {
  fill: #2196f3;
}

.clients__link:focus .clients__svg {
  fill: #2196f3;
}

footer {
  background: #2F303A;
  padding: 60px 0 60px;
}

.footer__menu {
  gap: 60px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .footer__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.first__menu {
  display: block;
  margin-bottom: 60px;
}

.footer_studio {
  color: white;
  font-family: 'Raleway-Regular',Arial,sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

.footer__logo {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.address__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.footer_contact {
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_contact:hover {
  color: #2196f3;
  outline: none;
}

.footer_contact:focus {
  color: #2196f3;
  outline: none;
}

.second__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .second__menu {
    display: block;
  }
}

.footer-name {
  margin-bottom: 20px;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-networks {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
}

.footer-networks__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.footer-networks__link:focus {
  background: #2196F3;
}

.footer-networks__link:hover {
  background: #2196F3;
}

.footer-networks__svg {
  fill: #FFFFFF;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.third__menu {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .third__menu {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-form__email {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

#footer-form__email {
  height: 50px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto,Arial,sans-serif;
}

#footer-form__email::placeholder {
  padding-left: 16px;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

#footer-form__email:focus:hover:active {
  border-color: white;
  outline: none;
}

#footer-form__email:focus:hover:active:active {
  outline: none;
  border-color: white;
}

@media screen and (min-width: 768px) {
  #footer-form__email {
    width: 450px;
  }
}

.footer-button {
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 20px;
  padding: 10px 10px;
  height: 50px;
  gap: 10px;
  color: #ffffff;
  background: #2196F3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover, .footer-button :focus, .footer-button :active {
  background: #1d70af;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  padding: 15px;
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
  background-color: white;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    padding: 40px;
  }
}

.close-btn {
  position: relative;
  margin: 8px 8px;
  float: right;
  top: -43px;
  left: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-btn:hover, .close-btn:focus, .close-btn:active {
  border-color: #2196f3;
  outline: none;
}

.close-btn__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn__svg {
  fill: #2196f3;
}

.close-btn:active .close-btn__svg {
  fill: #2196f3;
}

.close-btn:focus .close-btn__svg {
  border-color: #2196f3;
  outline: none;
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal-form__main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 12px;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: wrap;
}

@media screen and (min-width: 1200px) {
  .modal-form__main {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__main {
    flex-wrap: nowrap;
  }
}

.form__name,
.form__tel,
.form__email {
  padding: 8px 0 8px 32px;
  position: relative;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__name:hover, .form__name:focus, .form__name:active,
.form__tel:hover,
.form__tel:focus,
.form__tel:active,
.form__email:hover,
.form__email:focus,
.form__email:active {
  border-color: #2196f3;
  outline: none;
}

.form__name:focus + .form__svg,
.form__tel:focus + .form__svg,
.form__email:focus + .form__svg {
  fill: #2196f3;
}

.form__name:hover + .form__svg,
.form__tel:hover + .form__svg,
.form__email:hover + .form__svg {
  fill: #2196f3;
}

.form__name:active + .form__svg,
.form__tel:active + .form__svg,
.form__email:active + .form__svg {
  fill: #2196f3;
}

.form__svg {
  position: absolute;
  bottom: 9px;
  left: 10px;
  fill: #212121;
  display: inline-block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#comment {
  padding: 10px;
  min-width: 100%;
  min-height: 120px;
  max-width: 100%;
  max-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 4px 0 0;
  resize: none;
}

#comment:active {
  border-color: #2196f3;
  outline: none;
}

#comment:focus {
  border-color: #2196f3;
  outline: none;
}

#comment::placeholder {
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 6px;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}

.form label {
  margin-bottom: 4px;
}

label {
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

#modal__mail, #modal__tel, #modal__name {
  display: block;
  padding-left: 30px;
  width: 448px;
  height: 40px;
}

.backdrop-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .label {
    font-size: 14px;
  }
}

.checkbox {
  display: none;
  width: 16px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.checkbox__info::before {
  content: '';
  width: 16px;
  height: 13px;
  display: inline-block;
}

.checkbox__info {
  display: flex;
  flex-wrap: wrap;
  margin-right: 7px;
  border: 1px solid black;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__info {
  background-image: url("../img/icons/icon_check.svg");
  background-color: #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  border-color: #2196f3;
  background-origin: border-box;
}

.checkbox_link {
  display: flex;
  margin-left: 4px;
  border-bottom: 1px solid #188CE8;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .checkbox_link {
    font-size: 14px;
  }
}

.form-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  padding: 10px 55px;
  color: white;
  font-family: Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: none;
  background: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.mobile-menu-container {
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  padding: 48px 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition: 250ms;
}

.mobile-menu-container.is-open {
  display: block;
}

@media screen and (min-width: 767px) {
  .mobile-menu-container {
    display: none;
  }
}

.mobile-menu-container.is-open {
  transform: translateX(0);
}

.button-mobile {
  box-sizing: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  outline: none;
  transition: 250ms;
}

.button-mobile.is-open .js-open-menu {
  display: none;
}

.button-mobile.is-open .js-close-menu {
  margin-left: auto;
  display: flex;
}

.button-mobile:hover {
  fill: #2196f3;
}

.button-mobile:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .button-mobile {
    display: none;
  }
}

.button-mobile-close {
  border: none;
  position: relative;
  background: none;
  margin-left: auto;
  transition: 250ms;
}

.button-mobile-close:hover, .button-mobile-close:focus {
  fill: #2196f3;
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 35px;
}

.mob-menu__link {
  font-family: Roboto,Arial, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.mob-menu__link:hover {
  color: #2196f3;
}

.is-close {
  margin-bottom: 8px;
  position: absolute;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-close:hover {
  fill: #2196f3;
}

.mob-menu__contacts {
  position: absolute;
  bottom: 130px;
  margin-bottom: 20px;
}

.mob-menu__tel {
  font-family: Roboto, arial, sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu__mail {
  font-family: Roboto, arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu__networks {
  position: absolute;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  bottom: 40px;
  display: flex;
  gap: 20px;
}

.mob-menu__networks__link {
  padding: 10px;
  font-family: Roboto,Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu__networks__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__networks__item:last-child {
  border-right: 0px;
}

.mob_link_studio {
  color: #2196f3;
}

.mob_link_portfolio {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */