
@import 'utils/common';
@import 'utils/varibles';

@import 'components/portfolio';


@import 'components/logo';
@import 'components/header';
@import 'components/contacts';
@import 'components/hero';
@import 'components/icon';
@import 'components/activity';
@import 'components/team';
@import 'components/clients';
@import 'components/footer';


@import 'components/backdrop';












