.header__logo {
  display: flex;
  justify-content: center ;
  align-items: center;
  float: left;
  
  @media screen and (min-width:768px){
    margin-right: 88px;
  }
  @media screen and (min-width:1200px){
    margin-right: 93px;
  }
}
.web {
    font-family: 'Raleway',Arial,sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    letter-spacing: 0.03em;
  }
  
  .studio {
    font-family: 'Raleway',Arial,sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #212121;
  }
  