.mobile-menu-container {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    padding:48px 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
        0px 1px 3px rgba(0, 0, 0, 0.16);

        transform: translateX(100%);

        transition: 250ms;
    &.is-open {
        display: block;
    }
    @media screen and (min-width: 767px) {
        display: none;
    }
}

.mobile-menu-container.is-open {
    transform: translateX(0);
}

.button-mobile {
    box-sizing: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    cursor: pointer;
    outline: none;
    transition: 250ms;
    &.is-open .js-open-menu {
        display: none;
    }
    &.is-open .js-close-menu {
        margin-left: auto;
        display: flex;
    }
    &:hover {
        fill: $fillColor;
    }
    &:focus {
        fill: $fillColor;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}


    .button-mobile-close {
        border: none;
        position: relative;
        background: none;
        margin-left: auto;
        transition: 250ms;
        &:hover, &:focus {
            fill: $fillColor;
        }
    }



.mob-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 35px;   
}

.mob-menu__link {
font-family: Roboto,Arial, sans-serif;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
letter-spacing: 0.02em;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

color: #212121;

    &:hover {
        color: $fillColor;
    }
}

.is-close {
    margin-bottom: 8px;
    position: absolute;
    border: none;
    // background: red;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        fill: $fillColor;
    }
}

.mob-menu__contacts {
        position: absolute;
        bottom: 130px;
            margin-bottom: 20px;
}

.mob-menu__tel {
font-family: Roboto, arial, sans-serif;
font-weight: 500;
font-size: 34px;
line-height: 40px;
letter-spacing: 0.02em;
color: #2196F3;

}

.mob-menu__mail {
font-family: Roboto, arial, sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;

color: #757575;
}


.mob-menu__networks {
    position: absolute;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    bottom: 40px;
    display: flex;
    gap: 20px;
}

.mob-menu__networks__link {
    padding: 10px;
    font-family: Roboto,Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.02em;
    color: #2196F3;
    }

    .mob-menu__networks__item {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    .mob-menu__networks__item:last-child { 
        border-right: 0px;
    }
    


    .mob_link_studio  {
        color: $fillColor;
    }

    .mob_link_portfolio {
        color: $fillColor;
    }

.mob-menu__contacts{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
 