body,p,ul,h1,h2,h3,h4,h5,h6,button{margin: 0 auto;padding: 0;display: block ;}
a{text-decoration: none;}
body {
  overflow-x:hidden;
}
img { display: block; max-width: 100%; height: auto; }
li {list-style: none;display: block;}
a{display: block;}
p {
  display: block;
}
::-webkit-input-placeholder {color:#c0392b; margin-left: 10px}
::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;}


::-webkit-scrollbar {
  width: 0;
}

.container {
  padding: 0 10px;

    @media screen and (min-width:480px){
      width: 480px;
        margin: 0 auto;
        padding: 0 10px;
    }
    @media screen and (min-width:768px){
        width: 768px;
        margin: 0 auto;
        padding: 0 15px;
    }
      @media screen and (min-width:1200px){
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
  }

p {
  color: #757575;
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
  font-family: 'Roboto';
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
  font-family: 'Raleway';
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
  font-family: 'Oleo Script';
}


.section {
  padding: 60px 0;
  @media screen and (min-width:1200px) {
    padding: 94px 0;
  }
}